﻿@model Notless.Models.Product

@{
    ViewBag.Title = "View";
}



<div class="row">
    <div class="col-lg-12">
        <!-- ???????????? -->
        <div class="panel panel-default">
            <h4 style="margin-left:20px;margin-top:20px;">Product</h4>
            <hr />
            <div class="panel-body">

                
                <ul class="list-unstyled">
                    <li class="col-lg-3">
                    @if (Model.Image != null)
                     {
                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" height="300"/>
                     }
                    </li>
                    <li class="col-lg-7">
                        <dl class="dl-horizontal">

                            <dt>
                                @Html.DisplayNameFor(model => model.ProductType.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ProductType.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ProductName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ProductName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.StockLevel)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.StockLevel)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.UnitPrice)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UnitPrice) $
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.UnitMeasure)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UnitMeasure)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Style)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Style)
                            </dd>

                        </dl>
                    </li>
                </ul>


            </div>

                <hr />
                @if (Session["Role"] != null && Session["Role"].ToString() == "3")
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }, htmlAttributes: new { @class = "btn btn-default", style = "margin-left: 15px;" })
                }
                    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-default", style = "margin-left: 15px;" })
                    @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.ProductID }, htmlAttributes: new { @class = "btn btn-default", style= "position: absolute; right: 45px;" })
            <br />
            <br />


        </div>
    </div>
</div>



            
