﻿@model IEnumerable<Notless.Models.Product>
@using Notless.Models
@{
    ViewBag.Title = "Products - REDStore";
}



<div class="row">


    <div class="col-md-8">

        @foreach (Product item in Model)
        {

            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title" style="margin-top:15px;">@Html.DisplayFor(modelItem => item.ProductName)</h1>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-9">
                            <table>
                                <tr>
                                    <td>Category @Html.DisplayNameFor(model => model.ProductType.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ProductType.Name)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.StockLevel)</td>
                                    <td>@Html.DisplayFor(modelItem => item.StockLevel)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.UnitPrice)</td>
                                    <td>@Html.DisplayFor(modelItem => item.UnitPrice) $</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.UnitMeasure)</td>
                                    <td>@Html.DisplayFor(modelItem => item.UnitMeasure)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.Style)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Style)</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-image">
                                    @if (true)
                                    {
                                        <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" width="180" class="img-responsive" />
                                    }
                                    <div class="layerX"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        @if (Session["Role"] != null && Session["Role"].ToString() == "3")
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }, htmlAttributes: new { @class = "btn btn-default" });
                            <span>|</span>
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProductID }, htmlAttributes: new { @class = "btn btn-default" });
                            <span>|</span>
                        }
                        @Html.ActionLink("Details", "Details", new { id = item.ProductID }, htmlAttributes: new { @class = "btn btn-default" }) |
                        @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = item.ProductID }, htmlAttributes: new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>

        }


        <div class="center">
            <div class="pagination">
                @for (int i = 0; i < Convert.ToInt32(ViewBag.Max); i++)
                {
                    if(i == 0)
                    {
                        if (Convert.ToInt32(ViewBag.Page) > 1)
                        {
                            <a href="?page=@(i+1)&cat=@ViewBag.Cat" id="back" title="First page">&laquo;</a>
                        }
                    }
                    if (Convert.ToInt32(ViewBag.Page) == (i + 1))
                    {
                        <a class="active">@(i + 1)</a>
                    }
                    else
                    {
                        <a href="?page=@(i+1)&cat=@ViewBag.Cat">@(i + 1)</a>
                    }
                    if (i == Convert.ToInt32(ViewBag.Max) - 1)
                    {
                        if (Convert.ToInt32(ViewBag.Page) < Convert.ToInt32(ViewBag.Max))
                        {
                            <a href="?page=@(i+++1)&cat=@ViewBag.Cat" id="next" title="Last page">&raquo;</a>
                        }
                    }
                }

            </div>
        </div>
            

    </div>


    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Categories</h2>
            </div>
            <div class="panel-body">
                <div class="center">
                    <p>In progress...</p>
                    @Html.ActionLink("All products", "Index", "", htmlAttributes: new { @class="btn panel-title" })
                    @Html.ActionLink("Clothing", "", new { cat = "Clothing" }, htmlAttributes: new { @class = "btn panel-title" })
                    @Html.ActionLink("Shoes","",new { cat = "Shoes" }, htmlAttributes: new { @class = "btn panel-title" })
                    @Html.ActionLink("Face + Body", "", new { cat = "Face + Body" }, htmlAttributes: new { @class = "btn panel-title" })
                    @Html.ActionLink("Activewear", "", new { cat = "Activewear" }, htmlAttributes: new { @class = "btn panel-title" })
                    @Html.ActionLink("Accessories", "", new { cat = "Accessories" }, htmlAttributes: new { @class = "btn panel-title" })
                </div>
            </div>
        </div>
    


    
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Informer #2</h2>
            </div>
            <div class="panel-body">
                <p align="center">In progress ...</p>
            </div>
        </div>
    </div>


</div>



<style>
    .center {
        text-align: center;
    }

    .pagination {
        display: inline-block;
        align-self: center;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }

            .pagination a.active {
                background-color: #b34e52;
                color: white;
                border-radius: 5px;
            }

            .pagination a:hover:not(.active) {
                background-color: #ffeded;
                border-radius: 5px;
            }
</style>