﻿@model IEnumerable<Notless.Models.Product>
@using Notless.Models
@{
    ViewBag.Title = "Index";
}




<div class="row">


    <div class="col-md-8">

        @foreach (Product item in ViewBag.listProducts)
         {

            <div >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title" style="margin-top:15px;">@Html.DisplayFor(modelItem => item.ProductName)</h1>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-9">
                            <table>
                                <tr>
                                    <td>Category @Html.DisplayNameFor(model => model.ProductType.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ProductType.Name)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.StockLevel)</td>
                                    <td>@Html.DisplayFor(modelItem => item.StockLevel)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.UnitPrice)</td>
                                    <td>@Html.DisplayFor(modelItem => item.UnitPrice) $</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.UnitMeasure)</td>
                                    <td>@Html.DisplayFor(modelItem => item.UnitMeasure)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.Style)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Style)</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-image">
                                    @if (true)
                                     {
                                        <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" width="180" class="img-responsive" />
                                     }
                                    <div class="layerX"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        @if (Session["Role"] != null && Session["Role"].ToString() == "3")
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }, htmlAttributes: new { @class = "btn btn-default" });
                            <span>|</span>
                                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID }, htmlAttributes: new { @class = "btn btn-default" });
                            <span>|</span>
                        }
                        @Html.ActionLink("Details", "Details", new { id = item.ProductID }, htmlAttributes: new { @class = "btn btn-default" }) |
                        @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = item.ProductID }, htmlAttributes: new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>

        }

    </div>


    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Informer #1</h2>
            </div>
            <div class="panel-body">
                <p align="center">In progress ...</p>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Informer #2</h2>
            </div>
            <div class="panel-body">
                <p align="center">In progress ...</p>
            </div>
        </div>
    </div>


</div>

