﻿@{
    ViewBag.Title = "Manage Products";
}
@section scripts {
    @Scripts.Render("~/bundles/app2")
}
@model Notless.Models.Product

<!--
<div class="page-header">
</div>
-->


<div class="row">

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Products</h2>
            </div>
            <div class="panel-body">

                    <ul class="list-unstyled" data-bind="foreach: products">
                        <li>
                           
                                    <div class="col-lg-6">
                                        <div class="card">
                                            <div class="card-image">
                                                <img class="img-responsive" data-bind="attr: { src: Image }" height="250" />
                                                <div class="layerX"></div>
                                            </div>
                                            <span class="card-title" data-bind="text: ProductName"></span>
                                            <div class="card-action">
                                                <small><a href="#" data-bind="click: $parent.getProductDetail">Details</a></small>&nbsp; | &nbsp;
                                                <small><a data-bind="attr: { href: '/ShoppingCart/AddToCart/' + ProductID }">Add to cart</a></small>&nbsp;
                                                @if (Session["Role"] != null && Session["Role"].ToString() == "3")
                                                {
                                                    <small>| <a data-bind="attr: { href: '/Product/Delete/' + ProductID }">Delete</a></small>
                                                }

                                            </div>
                                        </div>
                                    </div>


                        </li>
                    </ul>

                </div>
            <div class="panel-footer">
                <!--<small style="align-items:center"><a href="#" data-bind="click: ">Add Product</a></small>-->
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error">
            <p data-bind="text: error"></p>
        </div>
    </div>


    <!-- Product detail -->
    <!-- ko if:detail() -->
    <div class="col-md-4" id="rec01">
        <!-- TODO: Product details -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Product Detail</h2>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr><td>Product Name</td><td data-bind="text: detail().ProductName"></td></tr>
                    <tr><td>Product Type</td><td data-bind="text: detail().ProductTypeID"></td></tr>
                    <tr><td>Stock Level</td><td data-bind="text: detail().StockLevel"></td></tr>
                    <tr><td>Unit Price</td><td data-bind="text: detail().UnitPrice"> $</td></tr>
                    <tr><td>Unit Measure</td><td data-bind="text: detail().UnitMeasure"></td></tr>
                    <tr><td>Description</td><td data-bind="text: detail().Description"></td></tr>
                    <tr><td>Style</td><td data-bind="text: detail().Style"></td></tr>
                    <tr><td>Image</td><td><div class="card-image"> <img class="img-responsive" data-bind="attr: { src: detail().Image }" /></div> </td></tr>
                </table>
            </div>
            <div class="panel-footer">
                <small><a href="#" data-bind="click: ">Close</a></small>
                <small><a data-bind="attr: { href: '/ShoppingCart/AddToCart/' + detail().ProductID }">Add to cart</a></small>
            </div>
        </div>
    </div>
    <!-- /ko -->




@if(Session["Role"] != null && Session["Role"].ToString() == "3")
{ 
    <!-- Add products -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Add product</h2>
            </div>
            <div class="panel-body">

                <div id="errors" class="alert alert-danger" style="display:none;">
                    @{
                        //@Html.ValidationMessageFor(Model => Model.UserName)
                    }
                </div>
                <form class="form-horizontal" data-bind="submit: addProduct" id="addProduct">
                    <div class="form-group" data-bind="with: newProduct">
                        <label for="inputProductName" class="col-sm-4 control-label">Name</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="inputProductName" data-bind="value:ProductName" placeholder="Product Name" />
                        </div>
                        <br />
                        <br />
                        <label for="inputProductType" class="col-sm-4 control-label">ProductType*</label>
                        <div class="col-lg-8">

                            @{
                                <input type="text" class="form-control" id="inputProductType" data-bind="value: ProductTypeID" placeholder="Product Type" />
                            }
                            

                        </div>
                        <br />
                        <br />
                        <label for="inputStockLevel" class="col-sm-4 control-label">Stock Level*</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="inputStockLevel" data-bind="value:StockLevel" placeholder="Stock Level" />
                        </div>
                        <br />
                        <br />
                        <label for="inputUnitPrice" class="col-sm-4 control-label">Unit Price*</label>
                        <div class="col-lg-8">
                            <input type="text" step="any" class="form-control" id="inputUnitPrice" data-bind="value:UnitPrice" placeholder="Unit Price" />
                        </div>
                        <br />
                        <br />
                        <label for="inputUnitMeasure" class="col-sm-4 control-label">UnitMeasure*</label>
                        <div class="col-lg-8">
                            <!--<input type="text" step="any" class="form-control" id="inputUnitMeasure" data-bind="value:UnitMeasure" placeholder="Unit Measure" />-->
                            <select step="any" class="form-control" id="inputUnitMeasure" data-bind="options: availableUnitMeasure, value: UnitMeasure, optionsCaption: 'Choose...'"></select>
                        </div>
                        <br />
                        <br />
                        <label for="inputStyle" class="col-sm-4 control-label">Style</label>
                        <div class="col-lg-8">
                            <!--<input type="tel" class="form-control" id="inputStyle" data-bind="value:Style" placeholder="Style" />-->
                            <select step="any" class="form-control" id="inputStyle" data-bind="options: availableStyle, value: Style,  optionsCaption: 'Choose...'">
                            </select>
                        </div>
                        <br />
                        <br />
                        <label for="inputDescription" class="col-sm-4 control-label">Description</label>
                        <div class="col-lg-8">
                            <textarea type="text" step="any" class="form-control" id="inputDescription" data-bind="value:Description" placeholder="Description" rows="6"></textarea>
                            <br />
                        </div>
                        
                        <label for="inputImage" class="col-sm-4 control-label">Image</label>
                        <div class="col-lg-8">
                            <div class="input-group" id="divBtn">
                                <label class="input-group-btn" id="lblBtn">
                                    <span class="btn btn-primary" id="btnBtn">
                                        Browse&hellip;<input type="file" style="display: none;" data-bind="file:Image" accept="image/jpeg" id="btnUp">
                                    </span>
                                </label>
                                <input type="text" class="form-control" readonly id="fileInput">
                            </div>
                        </div>
                        <br />
                        <br />
                        <!-- Image preview -->
                        <label for="inputImage" class="col-sm-4 control-label"></label>
                        <div class="col-lg-8">
                            <br />
                            <div id="imagePreview">
                            </div>
                        </div>
                        

                    </div>

                    <div style="display:flex; justify-content:flex-end;">
                        <button type="submit" class="btn btn-default" id="btnSubmit">Submit</button>
                    </div>
                   
                </form>


            </div>
            </div>
        </div>
    <!-- /Add -->
}

    </div>
