﻿@model IEnumerable<Notless.Models.Cart>

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.UnitMeasure)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.Product.ProductName)
        </td>
        <td>
            @Html.DisplayFor(model => item.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.UnitMeasure)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
