﻿@model IEnumerable<Notless.Models.Cart>
@using Notless.Models
@{
    ViewBag.Title = "Shopping Cart";
}

<h2>Cart</h2>

@if (Model.Count() > 0)
{ 


<table class="table" id="tblCarts">
    <tr class="alert-danger">@ViewBag.Message</tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.UnitPrice)
        </th>
        <th>
            Total Price
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.UnitMeasure)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Product.ProductName)
            </td>
            <td>
                @Html.TextBoxFor(model => item.Count, new { @class="form-control", size = "5", maxlength = "5", type = "number", id="count" + item.ProductID })
                
            </td>
            <td>
                @Html.DisplayFor(model => item.Product.ProductType.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Product.UnitPrice)
            </td>
            <td>
                @(item.Product.UnitPrice * item.Count)
            </td>
            <td>
                @Html.DisplayFor(model => item.Product.UnitMeasure)
            </td>
            
            <td id="link">
                @Html.ActionLink("Update", "Update", new { id = item.ProductID, count = item.Count }, htmlAttributes: new { @class = "btn btn-default", id="count" + item.ProductID, @disabled = "disabled" }) |
                @Html.ActionLink("Details", "Details", "Product", new { id = item.ProductID }, htmlAttributes: new { @class = "btn btn-default" }) |
                @Html.ActionLink("Delete", "Del", "ShoppingCart", new { id = item.ProductID }, htmlAttributes: new { @class = "btn btn-default"})
            </td>
        </tr>
    }

</table>
 
}
else{
<p>You shopping cart is empty!</p>
}
<hr />
@Html.ActionLink("Continue shopping", "", "Product", null, htmlAttributes: new { @class = "btn btn-default" })
<span>&nbsp;</span>
@Html.ActionLink("Place order", "PlaceOrder", "ShoppingCart", new { id = Session["UserID"] }, htmlAttributes: new { @class = "btn btn-default" })
<span>&nbsp;</span>
@Html.ActionLink("My orders", "Order", "ShoppingCart", null, htmlAttributes: new { @class = "btn btn-default" })


@section Scripts{
        <script>

            /*
            $("input[id^='count']").change(function () {
                //var count = $("input[id^='count']").val();
                $("a[href^='/ShoppingCart/Update/']").attr('href', '/ShoppingCart/Update/' + '' + this.id + '?count=' + '96');

                
            });

            */

            $("input[id^='count']").change(function () {

                //alert($(this).val());

                var lord = $(this).val();
                //$("#tblCarts td#" + "link").find("a[href^='/ShoppingCart/Update/']").attr('href', '/ShoppingCart/Update/' + $(this).val());
                var $parent = $(this);

                $("a[href^='/ShoppingCart/Update/']").each(function () {

                    //alert($parent.attr("id"));
                    var $this = $(this);
                    var _href = $this.attr("href");

                    //alert($this.attr("id"));
                    if ($parent.attr("id") == $this.attr("id")) {
                        $(this).removeAttr('disabled');
                        $this.attr("href", _href.substring(0,31) + lord);
                    }
                    
                });

                //$("a[href^='/ShoppingCart/Update/']").attr('href', '/ShoppingCart/Update/' + '' + this.id + '?count=' + '96');
            });
                //$("a[href^='/ShoppingCart/Update/']").attr('href', '/ShoppingCart/Update/' + '' + '?count=' + count);
                //alert($("#update").attr("href"));
                
        </script>
    }



@if(Session["listCart"] == null)
{
<table>
    <tr>
        <th>Product Name</th>
        <th>Count</th>
        <th>ProductType</th>
        <th>Cost</th>
    </tr>
    @foreach (var item in (List<Cart>)Session["listCart"])
    {
        <tr>
            <td>@item.Product.ProductName</td>
            <td>@item.Count</td>
            <td>@item.Product.ProductType.Name</td>
            <td>@(item.Count * item.Product.UnitPrice)</td>
            <td>@Html.ActionLink("Delete", "Del", "ShoppingCart", new { id = item.ProductID },null)</td>
        </tr>
    }
</table>
}