﻿@model IEnumerable<Notless.Models.Order>

@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>


@ViewBag.Message

@if(Model.Count() > 0 && Model.Any())
{ 
<table class="table col-lg-12">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
      

        <th>
            @Html.DisplayNameFor(model => model.OrderQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>
    @{ 
        decimal TotalCost = 0;
    }

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.OrderQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            <!--@Html.ActionLink("Edit", "Edit", "Oder", new { id=item.OrderID }, null) |-->
            @Html.ActionLink("Details", "Details", "Order", new { id = item.OrderID }, null ) |
            @Html.ActionLink("Cancel", "Cancel", "ShoppingCart", new { id=item.OrderID }, htmlAttributes: new {  @class = "btn btn-default"})
        </td>
    </tr>

    TotalCost += item.Total;

}
    
    <tr>
        <td><hr /></td><td><hr /></td><td><hr /></td><td align="right"><hr /><b>Sum</b></td>
        <td><hr /><b>@TotalCost</b></td>
        <td><hr /><input type="button" title="Purchase" value="Purchase"  class="btn btn-success" /></td>
    </tr>

</table>
    
}
else
{
    <p>You don't have orders.</p>
}

