﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("REDStore", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Products", "Index", "Items", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Dashboard", "Dashboard", "User", new { area = "" }, null)</li>
                    <!--<li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>-->
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <div class="page-header">
            @if (Session["UserID"] == null)
            {
                @Html.ActionLink("Register", "Register", "User", new { area = "" }, htmlAttributes: new { @class = "btn btn-default" })
                <span>&nbsp;</span>
                @Html.ActionLink("Login", "Login", "User", new { area = "" }, htmlAttributes: new { @class = "btn btn-default" })
            }
            else
            {
                @Html.ActionLink("Profile", "Dashboard", "User", new { area = "" }, htmlAttributes: new { @class = "btn btn-default" })
                <span>&nbsp;</span>
                @Html.ActionLink("Logout", "Logout", "User", new { area = "" }, htmlAttributes: new { @class = "btn btn-default" })
            }

            <span>&nbsp;</span>
                @Html.ActionLink("Products", "", "Product", new { area = "" }, htmlAttributes: new { @class = "btn btn-default" })
                <span>&nbsp;</span>
                @Html.ActionLink("Shopping Cart", "", "ShoppingCart", new { area = "" }, htmlAttributes: new { @class = "btn btn-default" })    

        </div>

        @RenderBody()
        <hr />
        <footer>
            <p align="center">&copy; @DateTime.Now.Year - REDStore</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
