﻿@model IQueryable<Notless.Models.Product>

@{
    ViewBag.Title = "Home - REDStore";
}


<div>

    <!--
    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
        </div>
    </div>

    -->

</div>









<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/images/1.jpg" width="1140" height="360" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <!--<p>
                    There is no sincerer love than the love of food.
                    <a class="btn btn-default" href="#">
                        Learn More
                    </a>
                </p>-->
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/2.jpg" width="1140" height="360" alt="Quote" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <!--<p>
                    Nothing is better than going home to family and eating good food and relaxing.
                    <a class="btn btn-default" href="#">
                        Learn More
                    </a>
                </p>-->
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/3.jpg" width="1140" height="360" alt="Good" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <!--<p>
                    Only the pure in heart can make a good soup.
                    <a class="btn btn-default" href="#">
                    Learn More
                    </a>
                </p>-->
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/4.jpg" width="1140" height="360" alt="Raspberry" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <!--<p>
                    Raspberry with sour cream.
                    <a class="btn btn-default" href="#"> Learn More </a>
                </p>-->
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<hr />


<!--    1col    -->
<div class="row">
    <div class="col-md-4">
        <!-- ???????????? -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">New product</h2>
            </div>
            <div class="panel-body">
                
                <ul class="ulC">
                    @foreach (var item in Model)
                    {
                            <li class="liC">
                                <a href="~/Product/Details/@item.ProductID">
                                    @if (item.Image != null)
                                    {
                                        <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" class="imgC">
                                    }
                                    <h3 class="h3C">@item.ProductName</h3>
                                </a>
                        <p class="pC">
                            @item.Description
                        </p>

                            </li>

                    }


                </ul>



            </div>
            <div class="panel-footer">
                <!--<small><a href="#" data-bind="click: ">Close</a></small>
                <!--<small><a data-bind="attr: { href: '/ShoppingCart/AddToCart/' + detail().ProductID }">Add to cart</a></small>-->
            </div>
        </div>
    </div>



<!--    2col    -->

    <div class="col-md-4">
        <!-- ???????????? -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Features</h2>
            </div>
            <div class="panel-body">
                
                <ul class="ulC">
                    @foreach (var item in (IQueryable<Notless.Models.Product>)ViewBag.Features)
                    {
                            <li class="liC">
                                <a href="~/Product/Details/@item.ProductID">
                                    @if (item.Image != null)
                                    {
                                        <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" class="imgC">
                                    }
                                    <h3 class="h3C">@item.ProductName</h3>
                                </a>
                                    <p class="pC">@item.Description</p>
                            </li>
                       
                    }


                </ul>

            </div>
            <div class="panel-footer">
                <!--<small><a href="#" data-bind="click: ">Close</a></small>
                <small><a data-bind="attr: { href: '/ShoppingCart/AddToCart/' + detail().ProductID }">Add to cart</a></small>-->
            </div>
        </div>
    </div>



<!--    3col    -->

    <div class="col-md-4" id="rec01">
        <!-- ???????????? -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Sales</h2>
            </div>
            <div class="panel-body">
                
                <ul class="ulC">
                    @foreach (var item in (IQueryable<Notless.Models.Product>)ViewBag.Sales)
                    {
                        <li class="liC">
                            <a href="~/Product/Details/@item.ProductID">
                                @if (item.Image != null)
                                {
                                    <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" class="imgC">
                                }
                                <h3 class="h3C">@item.ProductName</h3>
                            </a>
                            <p class="pC">@item.Description</p>
                        </li>

                    }


                </ul>



            </div>
            <div class="panel-footer">
                <!--<small><a href="#" data-bind="click: ">Close</a></small>
                <small><a data-bind="attr: { href: '/ShoppingCart/AddToCart/' + detail().ProductID }">Add to cart</a></small>-->
            </div>
        </div>
    </div>

</div>



<style>

    .ulC {
        list-style-type: none;
        width: auto;
        margin: 0;
        padding: 0;
    }

    .h3C {
        font: bold 14px/1.5 Helvetica, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

        .h3C:hover {
            color: #f05053;
            text-decoration: none;
            font-variant: inherit;
            font-style: inherit;
        }

    li .imgC {
        float: left;
        margin: 0 10px 0 0;
        width: 70px;
        border-radius: 5px;
        padding: 0;
    }

        li .imgC:hover {
            color: #f05053;
            text-decoration: none;
        }

    li .pC {
        font: 200 11px/1.5 Helvetica, Times New Roman, serif;
        margin: 0;
        padding: 0;
    }

    .liC {
        padding: 10px;
        overflow: auto;
        border-radius: 5px;
        margin: 0;
    }

        .liC:hover {
            background: #f3727480;
            cursor: pointer;
        }

</style>