﻿@model Notless.Models.User

@{
    ViewBag.Title = "Dashboard";
}




<div class="row">


    <!--    Dashboard   -->
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Dashboard</h1>
            </div>
            <div class="panel-body">


                <div>
                    <dl class="dl-horizontal">


                        <dt>
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserName)
                        </dd>


                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Phone)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Phone)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Gender)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Gender)
                        </dd>


                    </dl>
                </div>


            </div>

        </div>
    </div>
    <!--    /Dashboard  -->


    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Recently viewed</h1>
            </div>
            <div class="panel-body">
                <p align="center">In progress . . .</p>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Recommendations</h1>
            </div>
            <div class="panel-body">
                <p align="center">In progress . . .</p>
            </div>
        </div>
    </div>


</div>



<p>
    @{
/*
@Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
@Html.ActionLink("Back to List", "Index")
*/
    }


</p>
