﻿@{
    ViewBag.Title = "Dashboard";
}
@section scripts {
    @Scripts.Render("~/bundles/app")
}
@model Notless.Models.User

<!--
<div class="page-header">
    <h1>REDStore</h1>
</div>
-->
<div class="row">

    <!-- List of users -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Users</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: users">
                    <li>
                        <strong><span data-bind="text: Email"></span></strong>: <span data-bind="text: FirstName"></span>
                        <small><a href="#" data-bind="click: $parent.getUserDetail">Details</a></small>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <small style="align-items:center"><a href="#" data-bind="click: getAddForm">Add User</a></small>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error">
            <p data-bind="text: error"></p>
            <p></p>
        </div>
    </div>

    <!-- Users detail -->
    <!-- ko if:detail() -->
    <div class="col-md-4" data-bind="visible: shouldShowMessage" id="rec01">
        <!-- TODO: User details -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">User Detail</h2>
            </div>
            <div class="panel-body">
                <table class="table">

                    <tr><td>Username</td><td data-bind="text: detail().UserName"></td></tr>
                    <tr><td>Email</td><td data-bind="text: detail().Email"></td></tr>
                    <tr><td>Firstname</td><td data-bind="text: detail().FirstName"></td></tr>
                    <tr><td>Lastname</td><td data-bind="text: detail().LastName"></td></tr>
                    <tr><td>Address</td><td data-bind="text: detail().Address"></td></tr>
                </table>
            </div>
            <div class="panel-footer">
                <small><a href="#" data-bind="click: shouldShowMessageF">Close</a></small>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- Add user -->
    <!-- ko if:formAdd() -->
    <div class="col-md-4">
        <!-- TODO: Add new User -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Add User</h2>
            </div>

            <div class="panel-body">
                <div id="errors" class="alert alert-danger" style="display:none;">
                    @Html.ValidationMessageFor(Model => Model.UserName)
                </div>
                <form class="form-horizontal" data-bind="submit: addUser">
                    <div class="form-group" data-bind="with: newUser">
                        <!--<label for="inputUserName" class="col-sm-3 control-label">Username*</label>-->
                        <div class="col-lg-12 input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" id="inputUserName" data-bind="value:UserName" placeholder="Username" />
                        </div>
                        <br />
                        <!--<br />
                        <label for="inputPassword" class="col-sm-3 control-label">Password*</label>-->
                        <div class="col-lg-12 input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" id="inputPassword" data-bind="value:Password" placeholder="Password" />
                        </div>
                        <br />
                        <!--<br />
                        <label for="inputEmail" class="col-sm-3 control-label">Email*</label>-->
                        <div class="col-lg-12 input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="text" class="form-control" id="inputEmail" data-bind="value:Email" placeholder="Email" />
                        </div>
                        <br />
                        <!--<br />
                        <label for="inputFirstName" class="col-sm-3 control-label">Firstname*</label>-->
                        <div class="col-lg-12 input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                            <input type="text" step="any" class="form-control" id="inputFirstName" data-bind="value:FirstName" placeholder="First name" />
                        </div>
                        <br />
                        <!--<br />
                        <label for="inputLastName" class="col-sm-3 control-label">Lastname*</label>-->
                        <div class="col-lg-12 input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                            <input type="text" step="any" class="form-control" id="inputLastName" data-bind="value:LastName" placeholder="Last name" />
                        </div>
                        <br />
                        <!--<br />
                        <label for="inputPhone" class="col-sm-3 control-label">Phone</label>-->
                        <div class="col-lg-12 input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input type="tel" step="any" class="form-control" id="inputPhone" data-bind="value:Phone" placeholder="Phone" />
                        </div>
                        <br />
                        <!--<br />
                        <label for="inputAddress" class="col-sm-3 control-label">Address*</label>-->
                        <div class="col-lg-12 input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            <input type="text" step="any" class="form-control" id="inputAddress" data-bind="value:Address" placeholder="Address" />
                        </div>
                        <br />
                        <!--<br />
                        <label for="inputGender" class="col-sm-3 control-label">Gender*</label>-->
                        <div class="col-lg-12 input-group" title="Gender">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open"></i></span>
                            <select step="any" class="form-control" id="inputGender" data-bind="options:gender, value:Gender">
                                <option>Gender</option>
                            </select>
                            <!--<input type="text" step="any" class="form-control" id="inputGender" data-bind="value:Gender" />-->
                        </div>

                    </div>
                    <div style="display:flex; justify-content:flex-end;">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /ko -->

</div>