﻿@model Notless.Models.User

@{
    ViewBag.Title = "Login";
}

<div class="row">

    <div class="col-md-4 col-md-offset-4 animate" style="left:-400px; opacity:0;">
        <!-- ???????????? -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Login</h1>
            </div>
            <div class="panel-body">

                <br />
                @using (Html.BeginForm("Login","User",FormMethod.Post,htmlAttributes: new { @class = "col-lg-12" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal col-lg-12 col-lg-offset-0">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @ViewBag.Message

                        <div class="form-group">
                            @{
                                //@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            }

                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder="Email or username" } })
                                @{
                                    //@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            @{
                                //@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            }
                            <div class="col-md-12">
                                @Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control", placeholder = "Password" })
                                @{
                                    //@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div>
                                    <input id="remember" name="remember" type="checkbox" />
                                    <label for="remember" style="color:#cd5c5cb3">Remember me</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <b>@Html.ActionLink("Forgot password", "Retrieve", null, htmlAttributes: new { style = "" })</b>
                                </div>
                            </div>
                        </div>


                        <!--     Captcha    -->
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="g-recaptcha" data-sitekey="6LfCvkgUAAAAAO0A4gMsPiMVD3ZjaJgl_tcmMNN2" style="width:100px;-webkit-transform:scale(0.89);transform:scale(0.89);-webkit-transform-origin:0 0;transform-origin:0 0"></div>
                            </div>
                        </div>
                        <!--                -->
                        <input hidden="hidden" id="userip" name="userip" />

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Login" class="btn btn-default col-lg-12" onclick="verify()" />
                            </div>
                        </div>

                    </div>
                 }


            </div>

        </div>
    </div>
</div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")


        <script type="text/javascript">
            var userip;
        </script>
        <script type="text/javascript" src="https://l2.io/ip.js?var=userip"></script>

        <script>

            $('.animate').animate({ 'left': '0', 'opacity': '1' }, 2000, function () {
                //$(this).removeClass('moved');
            });

            function verify() {
                /*
                $.getJSON('https://api.ipify.org?format=json', function (data) {
                    alert(data.ip);
                    ip = data.ip;
                });
                */

                /*
                var data = JSON.stringify($('form').serializeArray());
                var x = JSON.parse(data);
                alert(x[3].value);
                */

                $('#userip').val(userip);
                //alert(userip);

            }

        //alert(userip);


        </script>
    }
