﻿@model Notless.Models.User

@{
    ViewBag.Title = "Register";
}



<div class="row">

    <div class="col-md-4 col-md-offset-4 animate"  style="left:-400px; opacity:0;">
        <!-- ???????????? -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Register</h1>
            </div>
            <div class="panel-body">

                &nbsp;
                @using (Html.BeginForm("Register", "User", FormMethod.Post, htmlAttributes: new { @class = "col-lg-12" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal  col-lg-12 col-lg-offset-0">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @ViewBag.Message


                        <div class="form-group">
                            @{
                                //@Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                            }
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder= "Username*" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @{
                                //@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            }
                            <div class="col-md-12">
                                @Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control", placeholder = "Password*" } )
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @{
                                //@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            }
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email*" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @{
                                //@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                            }
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name*" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @{
                                //@Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                            }
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name*" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @{
                                //@Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                            }
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Phone" } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @{
                                //@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                            }
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Address" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @{
                                //@Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                            }
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", placeholder = "City" } })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @{
                                //@Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
                            }
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", placeholder = "State" } })
                                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @{
                                //@Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                            }
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Postal Code" } })
                                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @{
                                //@Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                            }
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", placeholder = "Country" } })
                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        @{
                            List<SelectListItem> listItems = new List<SelectListItem>();
                            listItems.Add(new SelectListItem
                            {
                                Text = "Gender",
                                Value = "Gender",
                                Selected = true
                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = "Male",
                                Value = "Male"
                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = "Female",
                                Value = "Female"
                            });
                        }

                        <div class="form-group">
                            @{
                                //@Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                            }
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.Gender, listItems, null ,  htmlAttributes: new { @class = "form-control" } )
                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class=" col-lg-12">
                                <input type="submit" value="Create" class="btn btn-default col-lg-12" />
                            </div>
                        </div>
                    </div>
                 }


            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>

            $('.animate').animate({ 'left': '0', 'opacity': '1' }, 2000, function () {
                //$(this).removeClass('moved');
            });


</script>
}
