﻿@model Notless.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>


        @if (Model.TrackingNumber != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.TrackingNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TrackingNumber)
            </dd>
        }
        

        <dt>
            @Html.DisplayNameFor(model => model.OrderQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <!--        -->

        <dt>
            @Html.DisplayNameFor(model => model.Product.Image)
        </dt>

        <dd>
            <img src="data:image;base64,@System.Convert.ToBase64String(Model.Product.Image)" width="500" />
        </dd>

        <!--        -->

    </dl>
</div>
<p>
    <!--@Html.ActionLink("Edit", "Edit", "Order", new { id = Model.OrderID }, null) |-->
    @Html.ActionLink("Back to List", "Order", "ShoppingCart", null, null)
</p>
