﻿body {
    padding-top: 70px;
    padding-bottom: 20px;
    background: #f37274; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f05053, #e1eec3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #f05053cc, #e1eec3cc, #f05053cc, #e1eec3cc, #f05053cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: linear-gradient(45deg, rgba(103, 0, 31, .5), rgba(34, 101, 163, .8)), url(C:\Users\Vdm\Notless\Notless\Content\img\7B9.jpg);


    */
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background: #EF535080;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
    margin-top: 13px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background-color: #ffffffcc;
}

    .card span.card-title {
        color: darkslategrey;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        margin-left:5px;
        left:5px;
    }

    .card .card-image {
        position: relative;
        overflow: hidden;
    }

        .card .card-image img {
            border-radius: 2px 2px 0 0;
            background-clip: padding-box;
            position: relative;
            z-index: 0;
        }

        .card .card-image .layerX {
            background-color: rgba(229, 115, 115, 0.21);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
            .card .card-image .card-title {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 8px;
        }

    .card .card-content {
        padding: 8px;
        border-radius: 0 0 2px 2px;
        background-clip: padding-box;
        box-sizing: border-box;
    }

        .card .card-content p {
            margin: 0;
            color: inherit;
        }

        .card .card-content span.card-title {
            line-height: 48px;
        }

    .card .card-action {
        font-size: 14px;
        border-top: 1px solid rgba(160, 160, 160, 0.3);
        padding: 5px;
    }

        .card .card-action a {
            color: #ff4040cc;
            margin-right: 8px;
            transition: color 0.2s ease;
            text-transform: uppercase;
        }

            .card .card-action a:hover {
                color: #ff6161cc;
                text-decoration: none;
            }


body > button {
    background: #428bca;
    color: #fff;
    font-family: Sans-serif;
    font-size: 20px;
    height: 60px;
    width: 150px;
    line-height: 60px;
    margin: 25px 25px;
    text-align: center;
    border: 0;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

button {
    opacity: 1;
}

    button:hover {
        opacity: 0.75;
    }
